// Estilados para el header

.color_principal{
    background-color: $color-fondo;
    .logo{
        height: 100px;
    }
    .link_navegacion{
        @include estilo-link( $size-texto-link, $margen-link );
    }
    .boton_seleccionado{
        background-color: $color-seleccionado;
        font-weight: bold;
        &:hover{
            background-color: $color-hover;
            color: black;
            font-weight: bold;
        }
    }    
    .boton_comun{
        @extend .boton_seleccionado;
        background-color: $color-normal;
    }
}
