// variables
$color-fondo: rgb(212, 212, 210);
$color-seleccionado: rgb(234, 145, 94);
$color-hover: rgb(226, 210, 105);
$color-boton-normal: rgb(133, 180, 100);
$color-boton-ok: #6fc276bb;
$color-boton-del: #ff8c00c8;